/* You can add global styles to this file, and also import other style files */
.align-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.align-middle {
  display: inline-flex;
  align-items: center;
}

.full-width {
  width: 100%;
}

.fa {
  color: #ffffff;
}

.full-height {
  height: 100%;
}
